<router-outlet #Outlet="outlet"></router-outlet>
<div class="container-fluid" [hidden]="Outlet.isActivated" style="width:100%">
  <br>
  <div>
    <a class="btn btn-success" routerLink="/applicant/Add">Add New Applicant</a>
  </div><br>
  <div class="card">

    <div class="card-body">


      <table class="table table-striped">
        <thead>
          <tr>
            <th hidden>
              ID
            </th>
            <th>
              Name
            </th>
            <th>
                FamilyName
              </th>
            <th>
            Address
            </th>
            <th>
                CountryOfOrigin
            </th>
            <th>
                EMailAdress
            </th>
            <th>
                Age
            </th>
            <th>
              Edit Application
            </th>
            <th>
              Delete Application
            </th>
           <th>Action</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let applicant of applicants">
            <td hidden>{{applicant.ID}}</td>
            <td>{{applicant.Name}}</td>
            <td>{{applicant.FamilyName}}</td>
            <td>{{applicant.Address}}</td>
            <td>{{applicant.CountryOfOrigin}}</td>
            <td>{{applicant.EMailAdress}}</td>
            <td>{{applicant.Age}}</td>
            
            <!--<td><img src="http://localhost:9602/Content/Imgs/Empolyees/{{empolyee.Image}}" width="100px" height="100px"></td>-->
            <td>
              <a class="btn btn-primary" routerLink="Edit/{{applicant.ID}}">Update</a>
            </td>
            <td>
              <a class="btn btn-danger" (click)="deleteApplicant(applicant.ID)" routerLink="/applicant" >Delete</a>
            </td>
            <td *ngIF="!(applicant.Hired)" >
              <a class="btn btn-danger" (click)="unhired(applicant.ID)" routerLink="/applicant">unHired</a>
            </td>
            <td *ngIF="(applicant.Hired)">
              <a class="btn btn-success" (click)="hired(applicant.ID)" routerLink="/applicant">Hired</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

